@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

h1,
h2 {
  font-family: "Bellefair", serif;
}

a {
  text-decoration: none;
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
}

p {
  line-height: 1.8;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  width: 40px;
  height: 40px;
}

.header .navbar {
  position: absolute;
  background-color: rgba(11, 13, 23, 15%);
  backdrop-filter: blur(40px);
  width: calc(100vw - 30%);
  height: 100vh;
  top: 0;
  right: 0;
  visibility: hidden;
  padding: 32px 0px 0px 32px;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 80px;
}

.header .navbar .cross-btn {
  margin-right: 24px;
  align-self: flex-end;
}

.header .navbar ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  height: 100%;
}

.header .navbar.open {
  visibility: visible;
}

.header .navbar ul > li > a.active {
  border-right: 4px solid white;
}

.home {
  background: url("../starter-code/assets/home/background-home-mobile.jpg")
    no-repeat center/cover;
  min-height: 100vh;
  padding-top: 110px;
  display: flex;
  justify-content: center;
}

.home .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 500px;
}

.blueText {
  color: rgb(208, 214, 249);
}

.destination {
  background: url("../starter-code/assets/destination/background-destination-mobile.jpg")
    no-repeat center/cover;
}

.crew {
  background: url("../starter-code/assets/crew/background-crew-mobile.jpg")
    no-repeat center/cover;
}

.technology {
  background: url("../starter-code/assets/technology/background-technology-mobile.jpg")
  no-repeat center/cover;
}

.technology .overlay {
  max-width: none;
}

.technology .overlay article {
  width: 100%;
}

.technology .overlay article>div>button {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  /* border: 2px solid rgba(255, 255, 255, 0.5); */
}

@media (min-width: 768px) {
  .header {
    padding: 0 0 0 40px;
    flex-direction: row;
  }

  .header .logo {
    width: 48px;
    height: 48px;
  }

  .header .navbar {
    position: relative;
    visibility: visible;
    background-color: rgba(255, 255, 255, 5%);
    width: calc(100vw - 35%);
    min-width: 600px;
    height: 80px;
    padding: 0 40px 0 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .header .navbar ul {
    flex-direction: row;
    justify-content: flex-end;
  }

  .header .navbar .cross-btn,
  .header .hamburger {
    position: absolute;
    visibility: hidden;
  }

  .header .navbar ul > li {
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .header .navbar ul > li > a.active {
    border-right: none;
    border-bottom: 4px solid white;
  }

  .home {
    background: url("../starter-code/assets/home/background-home-tablet.jpg")
      no-repeat center/cover;

    padding-top: 150px;
  }

  .home .overlay {
    max-width: 648px;
  }

  .destination {
    background: url("../starter-code/assets/destination/background-destination-tablet.jpg")
      no-repeat center/cover;
    min-height: 100vh;
  }

  .destination .overlay article {
    width: 100%;
  }

  .destination .overlay article > button {
    margin-inline: 16px;
  }


  .destination .overlay article > ul {
    display: flex;
    justify-content: space-around;
  }

  .crew {
    background: url("../starter-code/assets/crew/background-crew-tablet.jpg")
      no-repeat center/cover;
    min-height: 100vh;
  }

  .technology {
    background: url("../starter-code/assets/technology/background-technology-tablet.jpg")
      no-repeat center/cover;
    min-height: 100vh;
  }

  .technology .overlay {
    max-width: none;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 40px 0 0 64px;
  }

  .header .navbar {
    padding-right: 64px;
    width: calc(100vw - 50%);
    min-width: 650px;
  }

  .borderHover:hover {
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    color: white;
  }

  .home {
    background: url("../starter-code/assets/home/background-home-desktop.jpg")
      no-repeat center/cover;

    padding-bottom: 50px;
  }

  .home .overlay {
    flex-direction: row;
    align-items: end;
    text-align: start;
    justify-content: space-around;
    width: 100%;
    max-width: 100vw;
    padding-block: 120px 30px;
    min-height: auto;
  }

  .home .overlay .explore-btn:hover {
    box-shadow: 0 0 0 88px rgba(255, 255, 255, 0.1);
    color: rgba(11, 13, 23, 0.5);
  }

  .destination {
    background: url("../starter-code/assets/destination/background-destination-desktop.jpg")
      no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .destination .overlay {
    padding-top: 50px;
  }
  
  .destination .overlay article {
    width: auto;
  }

  .destination .overlay article > button {
    margin-inline: 0 32px;
  }

  .destination .overlay article > ul {
    justify-content: start;
    gap: 70px;
  }

  .crew {
    background: url("../starter-code/assets/crew/background-crew-desktop.jpg")
      no-repeat center/cover;
  }

  .crew .overlay {
    align-items: start;
  }

  .crew .overlay article>img {
    margin: 0;
  }

  .technology {
     background: url("../starter-code/assets/technology/background-technology-desktop.jpg")
      no-repeat center/cover;
    min-height: 100vh;
  }

  .technology .overlay {
    flex-direction: column;
    padding-left: 40px;
  }

  .technology .overlay .tech {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 40px; */
    width: 100%;
    gap: 30px;
  }

  .technology .overlay .tech article>img {
    max-height: 600px;
    flex-grow: 1;
    justify-self: end;
  }

  .technology .overlay .tech article {
    display: flex;
  }

  .technology .overlay .tech article>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
